@page
@model QuizzApp.Pages.CreateQuestionModel
@{
    ViewData["Title"] = "Create Question";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Question</title>
</head>
<body>
    <h2>Create a Question</h2>

    <form method="post">
        <div>
            <label for="questionID">Question ID:</label>
            <input type="text" id="questionid" name="Question.Id" required />
            <span asp-validation-for="@Model.Question.Id"></span>

        </div>
        <div>
            <label for="questionText">Question Text:</label>
            <input type="text" id="questionText" name="Question.Text" required />
            <span asp-for="@Model.Question.Text"></span>
            
        </div>

        <div>
            <h3>Answer Options</h3>
       
            @for (int i = 0; i < 3; i++)
            {
                <div>
                    <label>Option @i</label>
                    <input type="text" name="Question.Options[@i].Text" placeholder="Answer text" required />
                    <input type="checkbox" name="Question.Options[@i].IsCorrect" value="true" /> Correct
                </div>
            }

            <button type="button" id="addOptionButton">Add Another Option</button>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    
    </form>

    <script>
        document.getElementById('addOptionButton').addEventListener('click', function () {
            var form = document.querySelector('form');
            var optionCount = form.querySelectorAll('input[name^="Question.AnswerOptions"]').length / 2;

            var newOptionIndex = optionCount;
            var newOptionHtml = `
                        <div>
                            <label>Option ${newOptionIndex}</label>
                            <input type="text" name="Question.AnswerOptions[${newOptionIndex}].Text" placeholder="Answer text" required />
                            <input type="checkbox" name="Question.AnswerOptions[${newOptionIndex}].IsCorrect" value="true" /> Correct
                        </div>
                    `;
            form.insertAdjacentHTML('beforeend', newOptionHtml);
        });
    </script>
</body>
</html>
