@page
@model IndexModel;
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Quizz App</h1>

</div>

@* @foreach(var item in Model.displayresult)
{
    <table class="table">
        <tr>
            @item.
        </tr>
    </table> 

} *@