@page
@model QuizzApp.Pages.QuestionModel
@{
    ViewData["Title"] = "Question Details";
}


<h3>@ViewData["Title"]</h3>
<hr />

<div class="card">
    <div class="card-header">
        Question
    </div>
    <div class="card-body">
        <h5 class="card-title">Question.Id</h5>
        <p class="card-text">With support text below as a natural lead in to additional content</p>
        <a href="/Questions" class="btn btn-primary"> Show All </a>

    </div>
</div>